# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
objects.json
rubricator.xml
*.ipynb_checkpoints
__pycache__
35000rus.csv
